config_templates/wsdl/mailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://mail.javaops.ru/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             name="MailServiceImplService"
             targetNamespace="http://mail.javaops.ru/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <operation name="sendMail">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <soap:operation soapAction=""/>
        </operation>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </binding>
    <message name="sendMailResponse">
        <part name="parameters" element="tns:sendMailResponse"/>
    </message>
    <message name="sendMail">
        <part name="parameters" element="tns:sendMail"/>
    </message>
    <portType name="MailService">
        <operation name="sendMail">
            <input message="tns:sendMail" wsam:Action="http://mail.service.masterjava.javaops.ru/MailService/sendMailRequest"/>
            <output message="tns:sendMailResponse" wsam:Action="http://mail.service.masterjava.javaops.ru/MailService/sendMailResponse"/>
        </operation>
    </portType>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
    <types>
        <xs:schema targetNamespace="http://mail.javaops.ru/">
            <xs:complexType name="sendMail">
                <xs:sequence>
                    <xs:element name="to" maxOccurs="unbounded" minOccurs="0" type="tns:addressee"/>
                    <xs:element name="cc" maxOccurs="unbounded" minOccurs="0" type="tns:addressee"/>
                    <xs:element name="subject" minOccurs="0" type="xs:string"/>
                    <xs:element name="body" minOccurs="1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressee">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="email" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="sendMailResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:element name="sendMailResponse" type="tns:sendMailResponse"/>

            <xs:element name="sendMail" type="tns:sendMail"/>
        </xs:schema>
    </types>
</definitions>